USE [master]
GO
/****** Object:  Database [MEDIDORDB]    Script Date: 20-07-2023 22:32:51 ******/
CREATE DATABASE [MEDIDORDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MEDIDORDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MEDIDORDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MEDIDORDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MEDIDORDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MEDIDORDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MEDIDORDB]
GO
/****** Object:  Table [dbo].[Lectura]    Script Date: 20-07-2023 22:32:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lectura](
	[idLectura] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NULL,
	[hora] [time](7) NULL,
	[valorConsumo] [decimal](18, 0) NULL,
	[numeroSerie] [int] NOT NULL,
 CONSTRAINT [PK_Lectura] PRIMARY KEY CLUSTERED 
(
	[idLectura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medidor]    Script Date: 20-07-2023 22:32:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medidor](
	[numeroSerie] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](50) NULL,
 CONSTRAINT [PK_Medidor] PRIMARY KEY CLUSTERED 
(
	[numeroSerie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Lectura]  WITH CHECK ADD  CONSTRAINT [FK_Lectura_Medidor] FOREIGN KEY([numeroSerie])
REFERENCES [dbo].[Medidor] ([numeroSerie])
GO
ALTER TABLE [dbo].[Lectura] CHECK CONSTRAINT [FK_Lectura_Medidor]
GO
USE [master]
GO
